@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --svg-light: #e9ecef;
    --svg-medium: #adb5bd;
    --svg-dark: #343a40;

    --text-light: var(--svg-light);
    --text-medium: var(--svg-medium);
    --text-dark: var(--svg-dark);

    --main-background: #edf2f4;
    --aside-background: #2b2d42;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: clamp(220px, 15%, 20rem) 1fr;
    background-color: var(--main-background);
    min-height: 100vh;
    height: 100%;
    font-family: 'roboto';
}

/* * * * * * * *
 * Shared Styles
 * * * * * * * */
svg {
    width: 1.5em;
    height: 1.5em;
    min-width: 1.5em;
    min-height: 1.5em;
}

svg:hover {
    cursor: pointer;
}

svg path {
    fill: var(--svg-medium);
}

.visible {
    opacity: 0;
}

/* * * * * * * *
 * Navigation
 * * * * * * * */

aside {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--aside-background);
    max-height: 100vh;
}

aside h2,
nav a {
    color: var(--text-medium);
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: center;

}

aside h2 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    padding: 0 1rem;
}

nav a {
    text-decoration: none;
    padding: 15px 0;
}

li:hover {
    color: var(--text-light);
    background-color: #424466;
    border-left: 4px solid var(--text-light);
    padding-left: calc(1rem - 4px);
}

li:hover a {
    color: var(--text-light);
}

li:hover svg path {
    fill: var(--svg-light);
}

nav a span, aside h2 span {
    justify-self: start;
    padding-left: 1rem;
}

nav div.menu-split {
    margin-top: 2rem;
}

/* * * * * * * *
 * Header
 * * * * * * * */
 header {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 3fr 300px;
    align-items: center;
 }

form input {
    margin: 1rem;
    margin-left: 80%;
    width: 0%;
    min-width: 0;
    height: 1.5rem;
    /* border: none; */
    border-radius: 5px;
    transition: all 250ms linear;
    visibility: hidden;
 }

 form input.invisible {
    width: 85%;
    min-width: 200px;
    margin: 1rem;
    visibility: visible;
 }

 form, .user {
    display: flex;
    align-items: center;
 }

 header svg path {
    fill: var(--svg-dark);
 }

 form {
    justify-content: end;
    margin: 0 10px;
 }

 .search-btn {
    justify-self: end;
 }

 .user-name {
    margin-right: 25px;
 }

 .notification-btn {
    padding-right: 15px;
    margin-right: 25px;
    margin-left: 5px;
    border-right: 2px solid gray;
 }

 .profile-pic {
    width: 65px;
    height: 65px;
    padding: 5px;
    border: 2px solid red;
    border-radius: 50%;
 }

/* * * * * * * * * * * * * * *
 * Visual Assistance - DELETE 
 * * * * * * * * * * * * * * */
header, main, footer {
    border: 1px solid red;
}